<h1>Comments</h1>

<div class="center">
  <p>
    <i><b><%= @song.title %></b></i>
  </p>
</div>
<table>
  <tr>
    <th>Username</th>
    <th>Message</th>
    <th>Time Posted</th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><b><%= comment.username %></b></td>
    <td><%= simple_format(word_wrap comment.message, line_width: 60) %></td>
    <td><%= comment.updated_at.strftime("%a %m/%d/%y, %I:%M %p") %></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><%= link_to 'Edit', edit_comment_path(id: comment.id, song_id: comment.song_id) %> |</td>
    <td><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path(:song_id => @song.id) %> |
<%= link_to 'Back', :back %>
