<h1>Comments</h1>

  <% if @header_type == 'song' %>
  <table class="center summary">
    <tr>
      <th class="summary"><p class="center"><%= @song.title %></p></th>
    </tr>
  </table>
  <% elsif @header_type == 'post' %>
  <table class="center summary">
    <tr>
      <th class="summary"><p class="right"><%= @post.title %></p></th>
    </tr>
    <tr>
      <td class="summary"><p class="post_message"><%= @post.message %></p></td>
    </tr>
  </table>
  <% end %>

<% if @comments.size > 0 %>
  <table class="center">
    <tr>
      <th>Username</th>
      <th>Message</th>
      <th>Time Posted</th>
      <th colspan=3>Options</th>
  </tr>
<% end %>

<% @comments.each do |comment| %>
  <tr>
    <td><b><%= comment.username %></b></td>
    <td><%= simple_format(word_wrap comment.message, line_width: 60) %></td>
    <td><%= comment.updated_at.strftime("%a %m/%d/%y, %I:%M %p") %></td>
    <td><% if @header_type == 'song' %>
      <%= link_to 'Edit', edit_comment_path(id: comment.id, 
                                            comment_type: 'song', 
                                            song_id: comment.song_id) %>
    <% elsif @header_type == 'post' %>
      <%= link_to 'Edit', edit_comment_path(id: comment.id, 
                                            comment_type: 'post', 
                                            post_id: comment.post_id) %>
    <% end %></td>
    <td><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<% if @header_type == 'song' %>
  <%= link_to 'New Comment', new_comment_path(song_id: @song.id, comment_type: 'song') %> |
<% elsif @header_type == 'post' %>
  <%= link_to 'New Comment', new_comment_path(post_id: @post.id, comment_type: 'post') %> |
<% end %>
<%= link_to 'Back', :back %>
