<h1>User Bio's</h1>

<table class="center">
  <tr>
    <th>Name</th>
    <th>Private bio</th>
    <th>Public bio</th>
    <th colspan=3>Options</th>
  </tr>

  <tr>
    <td><%= @user.name %></td>
    <td><%= @user.private_bio %></td>
    <td><%= @user.public_bio %></td>
    <td><%= link_to 'Show', @user %></td>
    <td><%= link_to 'Edit', edit_user_path(@user) %></td>
    <td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</table>

<br />

<%= link_to 'Back', :back %>
