<h1></h1>
<% if @gigs.blank? %>
  <p class="center"><img src="http://www.cbstructuresinc.com/wp-content/uploads/more-old-barns.jpg" width=300></a></p>
<% else %>
  <h2><%= @currentGig.date %> at <%= @currentGig.time %> </h2>
  <h2><%= @currentGig.venue %></h2>
  <h3><a href="<%= @currentGig.venue_link %>" target='_blank'><%= @currentGig.venue_link %></a></h3>
  <center><img src="<%= @currentGig.venue_image %>"></a></center>
  <h3><%= @currentGig.directions %></h3>
<% end %>