<div class="inputform">
  <%= form_for(@song) do |f| %>
    <% if @song.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

        <ul>
        <% @song.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      Song
      <%= f.label "Title" %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :url %><br />
      <%= f.text_field :url %>
    </div>
    <div class="field">
      Lyrics and
      <%= f.label "Chords" %><br />
      <%= f.text_area :chords %>
    </div>
    <div class="field">
      <%= f.label :performers %>
      <%= f.text_field :performers %>
    </div>
    <div class="actions">
      <%= link_to "Cancel", :back %>
      <%= f.submit "Submit" %>
    </div>
  <% end %>
</div>
