<h1>Song Listings</h1>

  <div class="center">
    <p><%= link_to 'Add new song', new_song_path %></p>

    <p class="center">-->>><b>Click song title and a youtube video for the 
      song will open in a new tab</b><<<--</p>
    <p class="center">To edit a song and/or add or remove Performers, click 'Details' and then 'Edit' and add them to the 'Performers' text box.  Put each performer on a new line and save the edit.</p>
    <p>If you know some chords 
      feel free to click 'Details' and then 'Edit' and put them in the Comment
      field.</p>
    <p>Happy practicing!</p>
  </div>

<table class="center">
  <tr>
    <th>Title</th>
    <th>Chords</th>
    <th>Comments</th>
    <th>Details</th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><i><b><a href="<%= song.url %>" target='_blank'>
        <%= song.title %></a></i></b><br />
        <%= simple_format(song.performers) %></td>
    <td class="options"><%= link_to 'Chords & Lyrics', controller: :chords, id: song.id %> </td> 
    <td class="options"><%= link_to "Comments(#{commentsCountSong(song.id)})", controller: :comments, song_id: song.id, c_type: 'song' %> </td> 
    <td class="options"><%= link_to 'Details', action: :show, id: song.id %></td> 
  </tr>
<% end %>
</table>




