<div class="topbox">
  <h1>Song Listings</h1>
</div>

<div class="toptext">
  <p>-->>><b>Click song title and a youtube video for the 
    song will open in a new tab</b><<<--</p>
  <p>Please consult with gig coordinator <a href="mailto:dweddle@siteavail.com">Dan Weddle</a> before
    adding or deleting songs.</p>
  <p>If you know some chords 
    feel free to click 'Edit' and put them in the Comment
    field.</p>
  <p>Happy practicing!</p><br/>
</div>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><i><b><a href="<%= song.url %>" target='_blank'>
      <%= song.title %></a></i></b></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><%= link_to 'Details', song %></td>
  </tr>
  <tr>
    <td><%= sanitize(song.comment.truncate(20)) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Song', new_song_path %> |
<%= link_to "Home", controller: :home %>

<br/><br/>
