<h1>Song Details</h1>
<p id="notice"><%= notice %></p>

<div class="center">
  <p>
    <b>Title:</b>
    <i><b><%= @song.title %></b></i>
    <div class="menu">
      <%= link_to 'Edit', edit_song_path(@song) %> |
      <%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure?' } %> 
    <div>
  </p>

  <p>
    <b>Url:</b>
    <%= @song.url %>
  </p>
</div>

<p>
  <b>Chords & Comments:</b>
  <%= auto_link(simple_format(@song.chords)) %>
</p>


