<div class="topbox">
  <h1>Song Details</h1>
  <p id="notice"><%= notice %></p>
</div>

<p>
  <b>Title:</b>
  <i><b><%= @song.title %></b></i>
</p>

<p>
  <b>Url:</b>
  <%= @song.url %>
</p>

<p>
  <b>Chords & Comments:</b>
  <%= sanitize(auto_link(simple_format(@song.comment))) %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Add', new_song_path %> |
<%= link_to 'Song Listings', songs_path %>
<br/><br/>
