<h1>Song Details</h1>
<p id="notice"><%= notice %></p>

  <p class="center">
    <b>Title:</b>
    <i><b><%= @song.title %></b></i>
    <p class="center">
      <%= link_to 'Edit', edit_song_path(@song) %> |
      <%= link_to 'Back', action: :index %>
    <p>
  </p>

  <p class="center">
    <b>Url:</b>
    <%= auto_link(@song.url, html: { target: "_blank" }) %>
  </p>
</div>

<p>  	
  <div class="chords">
  	<b><u>Chords & Lyrics:</b></u><br/>
    <%= auto_link(simple_format(@song.chords)) %>
  </div>
</p>

<%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure?' } %>


