<h1>Song Details</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @song.title %>
</p>

<p>
  <b>Url:</b>
  <%= @song.url %>
</p>

<p>
  <b>Comment:</b>
  <%= @song.comment %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Add', new_song_path %> |
<%= link_to 'Back', songs_path %>
