<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @song.title %>
</p>

<p>
  <b>Url:</b>
  <%= @song.url %>
</p>

<p>
  <b>Comment:</b>
  <%= @song.comment %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back to Song Listings', songs_path %>
