<%= form_for(@gig) do |f| %>

  <% if @gig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gig.errors.count, "error") %> prohibited this gig from being saved:</h2>

      <ul>
      <% @gig.errors.full_messages.each do |msg| %>
        <li><%= msg %></li><br/>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>

  <div class="field">
    <%= f.label :venue %><br />
    <%= f.text_field :venue %>
  </div>

  <div class="field">
    Venue Website Link<br />
    <%= f.text_field :venue_link %>
  </div>

  <div class="field">
    Venue Image Link<br />
    <%= f.text_field :venue_image %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :directions %><br />
    <%= f.text_area :directions %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

<% end %>
