<!DOCTYPE html>
<html>
<head>
  <title>DanJam</title>
  <%= stylesheet_link_tag  "sitewide", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <h3>Jammin' With The Dans</h3>
    <div class="headerbox">
      <ul>
        <li><%= link_to "Home", controller: :home, action: :index %></li> |
        <li><%= link_to "How To Get There", action: :directions %></li> |
        <li><%= link_to "Contact", action: :contact %></li> |
        <li><%= link_to "Meet the Performers", controller: :home, action: :performers %></li> 
    </ul>
    </div>

<%= yield %>
  
  <div class="footerbox">
    <ul>
      <li><%= link_to "Home", controller: :home, action: :index %></li> |
      <li><%= link_to "How To Get There", action: :directions %></li> |
      <li><%= link_to "Contact", action: :contact %></li> | 
      <li><%= link_to "Backstage", controller: :songs, action: :index %></li>
    </ul>
  </div>

</body>
</html>
