<!DOCTYPE html>
<html>
<head>
  <title>Target Cancer Benefit - BACKSTAGE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbox">
    <h3>2013 Target Cancer Benefit Concert - BACKSTAGE</h3>
    <div class="header_menu">
      <%= link_to "Home", controller: :home, action: :index %> |
      <%= link_to "Song Listings", controller: :songs, action: :index %> |
      <%= link_to "Announcements", '#' %> |
      <%= link_to "My Songs", controller: :songs, action: :index %> 
    </div>
  </div> 

<%= yield %>
  
  <div class="bottombox">
    <%= link_to "Home", controller: :home, action: :index %> | 
    <%= link_to "About Target Cancer", "http://www.targetcancer.info", 
        { target: "_blank" } %> | 
    <%= link_to "Time & Directions", '#' %> | 
    <%= link_to "Contact", '#' %> | 
    <%= link_to "Backstage", controller: :songs, action: :index %>
  </div>

</body>
</html>
